.hoverCard{

}

.hoverCard a {
    text-decoration: none;
    color: var(--dark);    
}

.hoverCard a:link{
    color: var(--dark);
}

.hoverCard a:visited{
    color: var(--dark);
}

.hoverCard a:hover{
    cursor:pointer;
}